Repository dev-log-2/dev-log, pull requests merged in 2025-09, with the labels that each got.

#9 feat: Task 엔티티 및 TaskRepository 생성
  src/main/java/org/devlogtwo/devlog/common/type/TaskPriority.java
  src/main/java/org/devlogtwo/devlog/common/type/TaskStatus.java
  src/main/java/org/devlogtwo/devlog/domain/task/entity/Task.java
  src/main/java/org/devlogtwo/devlog/domain/task/repository/TaskRepository.java
Labels: ✨ feat

#10 Feat: 7 Team, TeamMember 엔티티 및 TeamRepository, TeamMemberRepository 생성
  src/main/java/org/devlogtwo/devlog/common/type/TeamRole.java
  src/main/java/org/devlogtwo/devlog/domain/team/entity/Team.java
  src/main/java/org/devlogtwo/devlog/domain/team/entity/TeamMember.java
  src/main/java/org/devlogtwo/devlog/domain/team/repository/TeamMemberRepository.java
  src/main/java/org/devlogtwo/devlog/domain/team/repository/TeamRepository.java
Labels: ✨ feat

#11 feat: comment entity 및 commentrepository 생성
  src/main/java/org/devlogtwo/devlog/domain/comment/entity/Comment.java
  src/main/java/org/devlogtwo/devlog/domain/comment/repository/CommentRepository.java
Labels: ✨ feat, 💬 comment

#12 feat: 엔티티 및 레포지토리 초기 설계
  src/main/java/org/devlogtwo/devlog/common/type/TaskPriority.java
  src/main/java/org/devlogtwo/devlog/common/type/TaskStatus.java
  src/main/java/org/devlogtwo/devlog/common/type/TeamRole.java
  src/main/java/org/devlogtwo/devlog/common/type/UserRole.java
  src/main/java/org/devlogtwo/devlog/domain/comment/entity/Comment.java
  src/main/java/org/devlogtwo/devlog/domain/comment/repository/CommentRepository.java
  src/main/java/org/devlogtwo/devlog/domain/task/entity/Task.java
  src/main/java/org/devlogtwo/devlog/domain/task/repository/TaskRepository.java
  src/main/java/org/devlogtwo/devlog/domain/team/entity/Team.java
  src/main/java/org/devlogtwo/devlog/domain/team/entity/TeamMember.java
  src/main/java/org/devlogtwo/devlog/domain/team/repository/TeamMemberRepository.java
  src/main/java/org/devlogtwo/devlog/domain/team/repository/TeamRepository.java
  src/main/java/org/devlogtwo/devlog/domain/user/entity/User.java
  src/main/java/org/devlogtwo/devlog/domain/user/repository/UserRepository.java
Labels: ✨ feat

#18 feat: 태스크 생성 기능 구현
  src/main/java/org/devlogtwo/devlog/common/code/SuccessCode.java
  src/main/java/org/devlogtwo/devlog/domain/task/controller/TaskController.java
  src/main/java/org/devlogtwo/devlog/domain/task/dto/request/TaskCreateRequest.java
  src/main/java/org/devlogtwo/devlog/domain/task/dto/response/TaskCreateResponse.java
  src/main/java/org/devlogtwo/devlog/domain/task/entity/Task.java
  src/main/java/org/devlogtwo/devlog/domain/task/service/TaskService.java
  src/main/java/org/devlogtwo/devlog/domain/task/service/TaskServiceApi.java
Labels: ✨ feat, ✅ task

#25 feat: UserServiceApi의 findUserById 메서드 구현
  src/main/java/org/devlogtwo/devlog/common/code/ErrorCode.java
  src/main/java/org/devlogtwo/devlog/domain/user/service/UserService.java
  src/main/java/org/devlogtwo/devlog/domain/user/service/UserServiceApi.java
  src/test/java/org/devlogtwo/devlog/domain/user/service/UserServiceTest.java
Labels: ✨ feat, TODO

#26 feat: Team, TeamMember 팀 생성 구현
  src/main/java/org/devlogtwo/devlog/common/code/SuccessCode.java
  src/main/java/org/devlogtwo/devlog/common/type/TeamRole.java
  src/main/java/org/devlogtwo/devlog/domain/team/controller/TeamController.java
  src/main/java/org/devlogtwo/devlog/domain/team/dto/request/TeamCreateRequest.java
  src/main/java/org/devlogtwo/devlog/domain/team/dto/response/TeamCreateResponse.java
  src/main/java/org/devlogtwo/devlog/domain/team/dto/response/TeamMemberResponse.java
  src/main/java/org/devlogtwo/devlog/domain/team/entity/Team.java
  src/main/java/org/devlogtwo/devlog/domain/team/entity/TeamMember.java
  src/main/java/org/devlogtwo/devlog/domain/team/repository/TeamMemberRepository.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamMemberService.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamMemberServiceApi.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamService.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamServiceApi.java
Labels: ✨ feat, 👥 team

#33 feat: 태스크 상세 조회 및 목록 조회 구현, 태스크 생성 기능 수정
  src/main/java/org/devlogtwo/devlog/common/code/ErrorCode.java
  src/main/java/org/devlogtwo/devlog/common/code/SuccessCode.java
  src/main/java/org/devlogtwo/devlog/domain/task/controller/TaskController.java
  src/main/java/org/devlogtwo/devlog/domain/task/dto/response/TaskPageResponse.java
  src/main/java/org/devlogtwo/devlog/domain/task/dto/response/TaskResponse.java
  src/main/java/org/devlogtwo/devlog/domain/task/repository/TaskRepository.java
  src/main/java/org/devlogtwo/devlog/domain/task/service/TaskService.java
Labels: ✨ feat, ✅ task

#40 feat : 팀 멤버 추가 구현
  src/main/java/org/devlogtwo/devlog/common/code/ErrorCode.java
  src/main/java/org/devlogtwo/devlog/common/code/SuccessCode.java
  src/main/java/org/devlogtwo/devlog/domain/team/controller/TeamController.java
  src/main/java/org/devlogtwo/devlog/domain/team/controller/TeamMemberController.java
  src/main/java/org/devlogtwo/devlog/domain/team/dto/request/TeamMemberJoinRequest.java
  src/main/java/org/devlogtwo/devlog/domain/team/dto/response/TeamResponse.java
  src/main/java/org/devlogtwo/devlog/domain/team/entity/TeamMember.java
  src/main/java/org/devlogtwo/devlog/domain/team/repository/TeamMemberRepository.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamMemberService.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamService.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamServiceApi.java
Labels: ✨ feat, 👥 team

#50 refactor: dto에 valid 추가 및 예외처리 추가
  src/main/java/org/devlogtwo/devlog/common/code/ErrorCode.java
  src/main/java/org/devlogtwo/devlog/domain/team/controller/TeamController.java
  src/main/java/org/devlogtwo/devlog/domain/team/controller/TeamMemberController.java
  src/main/java/org/devlogtwo/devlog/domain/team/dto/request/TeamCreateRequest.java
  src/main/java/org/devlogtwo/devlog/domain/team/dto/request/TeamMemberJoinRequest.java
  src/main/java/org/devlogtwo/devlog/domain/team/entity/Team.java
  src/main/java/org/devlogtwo/devlog/domain/team/repository/TeamRepository.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamService.java
Labels: ✨ feat, 👥 team

#49 feat: 댓글별 페이징 목록 조회 기능 구현
  src/main/java/org/devlogtwo/devlog/common/code/SuccessCode.java
  src/main/java/org/devlogtwo/devlog/domain/comment/controller/CommentController.java
  src/main/java/org/devlogtwo/devlog/domain/comment/dto/response/CommentPageResponse.java
  src/main/java/org/devlogtwo/devlog/domain/comment/dto/response/CommentResponse.java
  src/main/java/org/devlogtwo/devlog/domain/comment/repository/CommentRepository.java
  src/main/java/org/devlogtwo/devlog/domain/comment/service/CommentService.java
Labels: ✨ feat, 💬 comment

#57 feat: 팀 단건 조회 구현
  src/main/java/org/devlogtwo/devlog/common/code/SuccessCode.java
  src/main/java/org/devlogtwo/devlog/domain/team/controller/TeamController.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamMemberService.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamQueryService.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamService.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamServiceApi.java
Labels: ✨ feat, 👥 team

#63 test: Task 도메인 Service 테스트 코드 추가
  src/test/java/org/devlogtwo/devlog/domain/task/service/TaskServiceTest.java
Labels: ✅ test, ✅ task

#64 feat: 추가 가능한 사용자 목록 조회 메서드 구현
  src/main/java/org/devlogtwo/devlog/domain/user/repository/UserRepository.java
  src/main/java/org/devlogtwo/devlog/domain/user/service/UserService.java
  src/main/java/org/devlogtwo/devlog/domain/user/service/UserServiceApi.java
Labels: ✨ feat, 👥 team, 👤 user

#67 feat: 팀 멤버 목록 조회/추가 가능한 사용자 목록 조회
  src/main/java/org/devlogtwo/devlog/common/code/SuccessCode.java
  src/main/java/org/devlogtwo/devlog/domain/team/controller/TeamMemberController.java
  src/main/java/org/devlogtwo/devlog/domain/team/dto/response/AvailableTeamMemberResponse.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamMemberService.java
Labels: ✨ feat, 👥 team

#69 feat: 회원 탈퇴 기능 추가
  src/main/java/org/devlogtwo/devlog/domain/auth/controller/AuthController.java
  src/main/java/org/devlogtwo/devlog/domain/auth/dto/request/AuthWithdrawRequest.java
  src/main/java/org/devlogtwo/devlog/domain/auth/service/AuthService.java
  src/main/java/org/devlogtwo/devlog/domain/user/entity/User.java
  src/main/java/org/devlogtwo/devlog/domain/user/repository/UserRepository.java
Labels: ✨ feat, 👤 user

#72 feat: CORS 설정을 SecurityFilterChain에 통합하여 구현
  src/main/java/org/devlogtwo/devlog/common/config/SecurityConfig.java
Labels: ✨ feat, 🧩 common

#78 feat: 팀 정보 수정, 팀 멤버 제거, 팀 삭제 기능 구현
  src/main/java/org/devlogtwo/devlog/common/code/SuccessCode.java
  src/main/java/org/devlogtwo/devlog/domain/team/controller/TeamController.java
  src/main/java/org/devlogtwo/devlog/domain/team/controller/TeamMemberController.java
  src/main/java/org/devlogtwo/devlog/domain/team/dto/request/TeamUpdateRequest.java
  src/main/java/org/devlogtwo/devlog/domain/team/dto/response/TeamDeleteResponse.java
  src/main/java/org/devlogtwo/devlog/domain/team/entity/Team.java
  src/main/java/org/devlogtwo/devlog/domain/team/repository/TeamMemberRepository.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamCoordinatorService.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamMemberService.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamMemberServiceApi.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamService.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamServiceApi.java
Labels: ✨ feat, 👥 team

#84 feat: 통합 검색에 필요한 Team 도메인 메서드 구현
  src/main/java/org/devlogtwo/devlog/domain/team/repository/TeamRepository.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamService.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamServiceApi.java
  src/main/java/org/devlogtwo/devlog/domain/user/repository/UserRepository.java
  src/main/java/org/devlogtwo/devlog/domain/user/service/UserService.java
  src/main/java/org/devlogtwo/devlog/domain/user/service/UserServiceApi.java
  src/test/java/org/devlogtwo/devlog/domain/user/repository/UserRepositoryTest.java
  src/test/java/org/devlogtwo/devlog/domain/user/service/UserServiceTest.java
Labels: ✨ feat, 👥 team

#92 fea: 댓글 수정 기능 구현
  src/main/java/org/devlogtwo/devlog/common/code/SuccessCode.java
  src/main/java/org/devlogtwo/devlog/domain/comment/controller/CommentController.java
  src/main/java/org/devlogtwo/devlog/domain/comment/dto/request/CommentUpdateRequest.java
  src/main/java/org/devlogtwo/devlog/domain/comment/entity/Comment.java
  src/main/java/org/devlogtwo/devlog/domain/comment/service/CommentService.java
Labels: ✨ feat, 💬 comment

#95 feat: 통합 검색 기능 및 작업 검색(페이징) 구현
  src/main/java/org/devlogtwo/devlog/common/code/SuccessCode.java
  src/main/java/org/devlogtwo/devlog/domain/search/controller/SearchController.java
  src/main/java/org/devlogtwo/devlog/domain/search/dto/response/SearchResponse.java
  src/main/java/org/devlogtwo/devlog/domain/search/dto/response/SearchTaskResponse.java
  src/main/java/org/devlogtwo/devlog/domain/search/dto/response/SearchTeamResponse.java
  src/main/java/org/devlogtwo/devlog/domain/search/dto/response/SearchUserResponse.java
  src/main/java/org/devlogtwo/devlog/domain/search/service/SearchService.java
  src/main/java/org/devlogtwo/devlog/domain/task/controller/TaskController.java
  src/main/java/org/devlogtwo/devlog/domain/task/repository/TaskRepository.java
  src/main/java/org/devlogtwo/devlog/domain/task/service/TaskService.java
Labels: ✨ feat, 🔍 search, ✅ task

#99 feat: 활동 로그 기록 기능 구현
  .gitignore
  src/main/java/org/devlogtwo/devlog/common/annotation/ActivityLogger.java
  src/main/java/org/devlogtwo/devlog/common/type/ActivityType.java
  src/main/java/org/devlogtwo/devlog/domain/actlog/aop/ActivityLogAspect.java
  src/main/java/org/devlogtwo/devlog/domain/actlog/entity/ActivityLog.java
  src/main/java/org/devlogtwo/devlog/domain/actlog/repository/ActivityLogRepository.java
  src/main/java/org/devlogtwo/devlog/domain/actlog/service/ActivityLogService.java
  src/main/java/org/devlogtwo/devlog/domain/comment/service/CommentService.java
  src/main/java/org/devlogtwo/devlog/domain/task/service/TaskService.java
Labels: ✨ feat, 👤 user

#101 feat: Task 상태 순차 변경 규칙 구현
  src/main/java/org/devlogtwo/devlog/common/code/ErrorCode.java
  src/main/java/org/devlogtwo/devlog/domain/task/service/TaskService.java
Labels: ✨ feat, ✅ task

#107 feat: 활동 로그 조회 기능 구현
  src/main/java/org/devlogtwo/devlog/common/code/SuccessCode.java
  src/main/java/org/devlogtwo/devlog/common/dto/PageResponse.java
  src/main/java/org/devlogtwo/devlog/common/type/ActivityType.java
  src/main/java/org/devlogtwo/devlog/domain/actlog/aop/ActivityLogAspect.java
  src/main/java/org/devlogtwo/devlog/domain/actlog/controller/ActivityLogController.java
  src/main/java/org/devlogtwo/devlog/domain/actlog/dto/response/ActivityLogResponse.java
  src/main/java/org/devlogtwo/devlog/domain/actlog/entity/ActivityLog.java
  src/main/java/org/devlogtwo/devlog/domain/actlog/repository/ActivityLogRepository.java
  src/main/java/org/devlogtwo/devlog/domain/actlog/service/ActivityLogService.java
  src/main/java/org/devlogtwo/devlog/domain/actlog/specs/ActivityLogSpecs.java
  src/main/java/org/devlogtwo/devlog/domain/comment/service/CommentService.java
  src/main/java/org/devlogtwo/devlog/domain/task/service/TaskService.java
Labels: ✨ feat, 📜 log

#116 feat: 대시보드 최근 활동 조회 기능 구현
  src/main/java/org/devlogtwo/devlog/common/code/SuccessCode.java
  src/main/java/org/devlogtwo/devlog/domain/dashboard/controller/ActivityLogDashBoardController.java
  src/main/java/org/devlogtwo/devlog/domain/dashboard/dto/response/DashboardRecentActivityResponse.java
  src/main/java/org/devlogtwo/devlog/domain/dashboard/service/ActivityLogDashboardService.java
Labels: ✨ feat, 📊 dashboard

#117 feat: 대시보드 통계 조회 구현
  src/main/java/org/devlogtwo/devlog/common/code/SuccessCode.java
  src/main/java/org/devlogtwo/devlog/domain/dashboard/controller/DashBoardStatusController.java
  src/main/java/org/devlogtwo/devlog/domain/dashboard/dto/response/DashboardStatsResponse.java
  src/main/java/org/devlogtwo/devlog/domain/dashboard/service/DashboardStatsService.java
Labels: ✨ feat, 💬 comment

#118 feat: 내 작업조회 기능에 필요한 Task 도메인 메서드 구현
  src/main/java/org/devlogtwo/devlog/domain/task/repository/TaskRepository.java
  src/main/java/org/devlogtwo/devlog/domain/task/service/TaskService.java
  src/main/java/org/devlogtwo/devlog/domain/task/service/TaskServiceApi.java
Labels: ✨ feat, ✅ task

#131 Ref: 주석 수정 및 중복 코드 개선, 대시보드 진행률 로직 개선
  src/main/java/org/devlogtwo/devlog/domain/comment/controller/CommentController.java
  src/main/java/org/devlogtwo/devlog/domain/comment/service/CommentService.java
  src/main/java/org/devlogtwo/devlog/domain/dashboard/dto/response/DashboardStatsResponse.java
  src/main/java/org/devlogtwo/devlog/domain/dashboard/service/DashBoardService.java
Labels: ♻️ refactor, 💬 comment, 📊 dashboard

#137 feat: 인증 기능 복구 및 개선
  src/main/java/org/devlogtwo/devlog/common/code/ErrorCode.java
  src/main/java/org/devlogtwo/devlog/common/config/SecurityConfig.java
  src/main/java/org/devlogtwo/devlog/common/security/CustomAuthenticationEntryPoint.java
  src/main/java/org/devlogtwo/devlog/common/security/JwtAuthFilter.java
  src/main/java/org/devlogtwo/devlog/common/security/JwtUserDetailsService.java
  src/main/java/org/devlogtwo/devlog/domain/user/entity/User.java
  src/main/java/org/devlogtwo/devlog/domain/user/service/UserService.java
  src/main/java/org/devlogtwo/devlog/domain/user/service/UserServiceApi.java
Labels: ✨ feat, 👤 user

#139 test: Team 도메인 서비스 테스트 추가
  src/test/java/org/devlogtwo/devlog/domain/team/service/TeamCoordinatorServiceTest.java
  src/test/java/org/devlogtwo/devlog/domain/team/service/TeamMemberServiceTest.java
  src/test/java/org/devlogtwo/devlog/domain/team/service/TeamServiceTest.java
Labels: ✅ test, 👥 team

#145 test: Task 도메인 테스트 코드 추가
  src/test/java/org/devlogtwo/devlog/domain/task/service/TaskServiceTest.java
Labels: ✅ test, ✅ task

#151 feat: 주간 작업 추세 기능 추가
  src/main/java/org/devlogtwo/devlog/common/code/SuccessCode.java
  src/main/java/org/devlogtwo/devlog/domain/dashboard/controller/DashBoardController.java
  src/main/java/org/devlogtwo/devlog/domain/dashboard/dto/response/TaskDailySummaryResponse.java
  src/main/java/org/devlogtwo/devlog/domain/dashboard/dto/response/WeeklyTrendResponse.java
  src/main/java/org/devlogtwo/devlog/domain/dashboard/service/DashBoardService.java
  src/main/java/org/devlogtwo/devlog/domain/task/repository/TaskRepository.java
  src/main/java/org/devlogtwo/devlog/domain/task/service/TaskService.java
  src/main/java/org/devlogtwo/devlog/domain/task/service/TaskServiceApi.java
Labels: ✨ feat, 📊 dashboard

#153 fix: 대시보드의 활동 피드에서 본인의 로그만 조회되도록 수정
  src/main/java/org/devlogtwo/devlog/common/config/SecurityConfig.java
  src/main/java/org/devlogtwo/devlog/common/security/JwtAuthFilter.java
  src/main/java/org/devlogtwo/devlog/domain/actlog/repository/ActivityLogRepository.java
  src/main/java/org/devlogtwo/devlog/domain/actlog/service/ActivityLogService.java
  src/main/java/org/devlogtwo/devlog/domain/actlog/service/ActivityLogServiceApi.java
  src/main/java/org/devlogtwo/devlog/domain/dashboard/controller/DashBoardController.java
  src/main/java/org/devlogtwo/devlog/domain/dashboard/service/DashBoardService.java
  src/main/java/org/devlogtwo/devlog/domain/user/repository/UserRepository.java
Labels: 🐛 bug(fix), 📊 dashboard

#156 feat: 활동 로그 조회 시 taskId 타입 Validation 추가
  src/main/java/org/devlogtwo/devlog/common/code/ErrorCode.java
  src/main/java/org/devlogtwo/devlog/common/exception/GlobalExceptionHandler.java
  src/main/java/org/devlogtwo/devlog/domain/actlog/controller/ActivityLogController.java
Labels: 🐛 bug(fix), 📜 log

#158 docs: README.md 업데이트
  README.md
  docs/img.png
  docs/img2.png
Labels: 📝 docs

#160 test: Search 도메인 통합 검색 테스트 코드 작성
  src/test/java/org/devlogtwo/devlog/domain/search/service/SearchServiceTest.java
Labels: ✅ test, 🔍 search

#159 Feat: 댓글 생성 성공 테스트 코드 작성
  src/test/java/org/devlogtwo/devlog/domain/actlog/repository/ActivityLogRepositoryTest.java
  src/test/java/org/devlogtwo/devlog/domain/comment/service/CommentServiceTest.java
Labels: ✅ test, 💬 comment

#161 test: 팀 도메인 테스트코드 추가 작성
  src/main/java/org/devlogtwo/devlog/common/code/ErrorCode.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamCoordinatorService.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamMemberService.java
  src/main/java/org/devlogtwo/devlog/domain/team/service/TeamMemberServiceApi.java
  src/test/java/org/devlogtwo/devlog/domain/team/service/TeamCoordinatorServiceTest.java
Labels: ♻️ refactor, ✅ test, 👥 team
